/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E2F1E7;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    color: #387478;
    font-size: 2em;
    margin-bottom: 10px;
}

.order-summary,
.products-ordered {
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.order-summary p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 10px;
}

.order-summary strong {
    color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #387478;
    color: #fff;
    font-weight: bold;
}

td {
    background-color: #f9f9f9;
}



.total-amount {
    font-size: 1.3em;
    color: #333;
    text-align: right;
    margin-top: 15px;
}
