* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:url('./images/b.jpg');
    background-color: #e6f2f2;
    background-size:100% 100%;
    background-position: center center;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background:rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo img {
    width: 50px;
    border-radius: 50%;
}

h1 {
    font-size: 24px;
    color: #1e8b8e;
    margin-top: 10px;
}

h2 {
    color: #1e8b8e;
    margin: 20px 0 10px;
}

p {
    color: #5a5a5a;
    margin-bottom: 20px;
}

.login-btn {
    padding: 10px 20px;
    background-color: #1e8b8e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #177576;
}

.footer {
    margin-top: 20px;
    font-size: 12px;
    color: #777;
    padding-top: 15px;
    border-top: 1px solid #ccc;
    position: relative;

}

/* Sliding animation */
.slide-in {
    transform: translateY(-100%);
    opacity: 0;
    animation: slideIn 1.5s ease-in-out forwards;
}

@keyframes slideIn {
    to {
        transform: translateY(0);
        opacity: 1;
    }

    
}